<h1> Sign up here: </h1>

<%= form_with(model: @user) do |f| %>

<%= render 'shared/error_messages' %>

<%= f.label :name, "Name", class: "form-label" %>
<%= f.text_field :name, class: "form-control" %>

<%= f.label :email, "Email", class: "form-label" %>
<%= f.email_field :email, class: "form-control" %>

<%= f.label :password, class: "form-label" %>
<%= f.password_field :password, class: "form-control" %>

<%= f.label :password_confirmation, "Confirm Password", class: "form-label" %>
<%= f.password_field :password_confirmation, class: "form-control" %>

<%= f.submit "Create account", class: "btn btn-primary btn-lg" %>


<% end %>
<%= image_tag 'foodheart.png', class: "d-inline-block align-right" %>

